services:
	routerFactory: App\Router\RouterFactory
	router: @routerFactory::createRouter()
	commands.foo:
		class: App\Console\AddUserCommand
		tags: [console.command: user:add]
	- App\Model\Category\CategoryRepository
